{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historia{% endblock %}

{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/about.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Tradición familiar Intergalactica</span>
              <span class="section-heading-lower">Nuestra historia</span>
            </h2>
            <p>Fundada en 590 a.c. esto sucedio por que nos cayo un asteroide y llamamos a un cientifico ya que somos altamente especializados en la cual logramos extraer una esencia muy agradable  </p>
            <p>y energizante en la cual es el menu especial que se llama cafe espacial ya que fue creada por la extracion de materiales del asteroide y somos llamado cafeteria del desierto por que nadie viene.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}